# **Execute ETL**
Execute the Jupyter notebook step-by-step to create a comprehensive sales summary table from the original database tables, facilitating smoother and more efficient further analysis.

>### Importing liabraries

In [4]:
import pandas as pd

>### Connecting with **PostgreSQL** Data-Base

In [5]:
from sqlalchemy import create_engine

"""Connection Details"""

user = "postgres"  # username
password = "tictok#2020"  # password
host = "localhost"  # server IP
port = "5432"  # port no
database = "walmart_sales"  # Data-Base name

try:
    engine = create_engine(
        f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}"
    )
    with engine.connect() as connection:
        print("Successfully connected to PostgreSQL Data-Base")

except Exception as exc:
    print("Error while connecting to PostgreSQL", exc)

Successfully connected to PostgreSQL Data-Base

>### Execute ETL Process

In [6]:
import sys

sys.path.append("../scripts")
from db_sql_etl_process import ingest_db

ingest_db(engine)

ETL Process is completed successfully

The above code invokes a custom function defined within the Python script, which is designed to execute the entire **ETL** process in a single run.

>### Sample Output of Sales Summary Table

In [7]:
sql_query = """
    SELECT * FROM sales_summary;
"""

df = pd.read_sql(sql=sql_query, con=engine)
df.head()

,id,date_key,channel,brand,product_category,country,return_amount,discount_amount,total_cost,total_sales,net_sales,net_profit,profit_margin
0,1,2007-01-01,Catalog,A. Datum,Cameras and Camecorders,United States,0.0,236.53,10084.40,21930.00,21693.47,11609.07,53.51
1,2,2007-01-01,Catalog,Adventure Works,Computers,United States,0.0,75.20,27090.72,53136.00,53060.80,25970.08,48.94
2,3,2007-01-01,Catalog,Adventure Works,Home Appliances,United States,0.0,29.80,607.68,1192.00,1162.20,554.52,47.71
3,4,2007-01-01,Catalog,Adventure Works,TV and Video,United States,0.0,12.00,489.36,959.92,947.92,458.56,48.38
4,5,2007-01-01,Catalog,Contoso,Cameras and Camecorders,United States,0.0,192.10,828.00,1800.00,1607.90,779.90,48.50