In [13]:
import pandas as pd

In [14]:
from sqlalchemy import create_engine

"""Connection Details"""

user = "root"  # your MySQL username
password = "tictok#2020"
host = "localhost"  # your MySQL server IP#
port = "3306"
database = "vendor_sales"

try:
    engine = create_engine(
        f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}"
    )
except Exception as exc:
    print("Error while connecting to mysql", exc)

In [15]:
import sys
sys.path.append("../scripts/sql_queries.py")

from sql_queries import create_vendor_summary

df = create_vendor_summary(engine)
df.head()

,brand_id,vendor_id,vendor_name,actual_price,purchase_price,sales_price,purchase_quantity,sales_quantity,total_purchase,total_sales,total_excise_tax,total_freight_cost
0,8412,105,ALTAMAR BRANDS LLC,49.99,35.71,49.99,18.0,10.0,642.78,499.90,7.90,62.39
1,5255,4466,AMERICAN VINTAGE BEVERAGE,12.99,9.35,12.99,343.0,390.0,3207.05,5066.10,717.00,793.91
2,5215,4466,AMERICAN VINTAGE BEVERAGE,12.99,9.41,12.99,199.0,290.0,1872.59,3767.10,533.15,793.91
3,2034,388,ATLANTIC IMPORTING COMPANY,32.99,21.32,28.99,235.0,155.0,5010.20,4493.45,122.40,211.74
4,3348,480,BACARDI USA INC,29.99,22.38,36.99,1129.0,2215.0,25267.02,79587.85,4070.65,89286.27

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5197 entries, 0 to 5196
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   brand_id            5197 non-null   int64
 1   vendor_id           5197 non-null   int64
 2   vendor_name         5197 non-null   object
 3   actual_price        5197 non-null   float64
 4   purchase_price      5197 non-null   float64
 5   sales_price         4339 non-null   float64
 6   purchase_quantity   5197 non-null   float64
 7   sales_quantity      4339 non-null   float64
 8   total_purchase      5197 non-null   float64
 9   total_sales         4339 non-null   float64
 10  total_excise_tax    4339 non-null   float64
 11  total_freight_cost  5197 non-null   float64
dtypes: float64(9), int64(2), object(1)
memory usage: 487.3+ KB